credentials.ini
dictAPI.txt
csv/logschool_brief.csv
csv/logschool_cart.csv
csv/logschool_category.csv
csv/logschool_charge.csv
csv/logschool_coupon.csv
csv/logschool_course.csv
csv/logschool_enrollment.csv
csv/logschool_group.csv
csv/logschool_lesson.csv
csv/logschool_library.csv
csv/logschool_log.csv
csv/logschool_module.csv
csv/logschool_payment.csv
csv/logschool_permission.csv
csv/logschool_plan.csv
csv/logschool_progress.csv
csv/logschool_sales.csv
csv/logschool_signature.csv
csv/logschool_student.csv
csv/logschool_tests.csv
csv/logschool_userpermission.csv
dictMaster.txt
csv/logschool_certificate.csv
csv/logschool_questions.csv
csv/logschool_groupstudent.csv
csv/logschool_groupcourse.csv
csv/logschool_plancourses.csv
csv/logschool_access.csv
dictAPITest.txt
